body {
  overflow-x: hidden;
  margin: 0;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

.mainContainer {
  padding: 16px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  margin-left: -15rem;
  /* border: 2px solid red; */
}

.heroSection {
  width: 100%;
  height: 285px;
  background-image: url("./Assets/HomeBgImg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.heroSection-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10px;
}

/* .heroSection h1 {
  width: 328px;
} */

/* .heroSection p {
  width: 336px;
} */

.searchDestination {
  height: 60px;
  border: 2px solid transparent;
  border-radius: 50px;
  box-shadow: white;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 90%;
  margin: 10px;
  padding: 0px 10px;
}

.location-where {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  position: relative;
  /* border: 2px solid black; */
}

.search :nth-child(2) {
  /* border: 2px solid red; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.whyChooseUs-container {
  margin: 64px 16px;
  padding-top: 47px;
  padding-bottom: 91px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #f7f7f7;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.2);
}

.whyChooseUs {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  line-height: 2px;
}

.whyChooseUs h2 {
  width: 328px;
}

.whyChooseUs p {
  width: 328px;
  font-size: 17px;
  line-height: 28px;
}

.paymentImg {
  /* border: 2px solid red; */
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.paymentImg :nth-child(2) {
  position: absolute;
}

.paymentText {
  text-align: center;
  width: 300px;
}

.searchImg {
  /* border: 2px solid red; */
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.searchImg :nth-child(2) {
  position: absolute;
  /* border: 2px solid black; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* top: 25px; */
  /* left: 25px; */
}

.searchText {
  text-align: center;
  width: 300px;
}

.supportImg {
  /* border: 2px solid red; */
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.supportImg :nth-child(2) {
  position: absolute;
}

.supportText {
  text-align: center;
  width: 300px;
}

.niceImg {
  /* border: 2px solid red; */
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.niceImg :nth-child(2) {
  position: absolute;
}

.niceText {
  text-align: center;
  width: 300px;
}

.specialOfferWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.specialOfferImgOne {
  width: 328px;
  height: 388px;
  position: relative;
  border: 1px solid #e7e6eb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 6px;
  margin-top: 59px;
}

.specialOfferImgOne:first-child {
  width: 309px;
}
.specialOfferImgOne > :nth-child(2) {
  position: absolute;
  top: 12px;
  left: 12px;
}
.specialOfferImgOne > :nth-child(3) {
  position: absolute;
  top: 12px;
  right: 12px;
}

.specialOfferText {
  font-size: 22px;
  text-align: left;
  width: 305px;
  height: auto;
  line-height: 20px;
}

.specialOfferText h3 {
  font-size: 23px;
}

.specialOfferText p {
  font-size: 18px;
}

.specialOfferText span {
  font-size: 30px;
  color: #2a90d9;
}

.specialOfferText > :nth-child(3) {
  color: #2a90d9;
}

.review-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 309px; */
  /* height: 497px; */
  /* border: 2px solid pink; */
  margin: 0 auto;
}

.reviewImgs {
  display: flex;
  flex-direction: row;
  text-align: center;
  max-width: 312px;
  height: 300px;
  overflow: hidden;
}

.review h2 {
  margin-bottom: 50px;
}

.review img {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
  /* border: 2px solid darkgoldenrod; */
}



.reviewImg1 {
  margin-bottom: 20px;
  display: block;
}

.reviewImg2{
  display: none;
    animation: fade 0.5s ease-in-out;
    width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;

}
.more {
  margin-top: 10px;
  background-color: #ee685f;
  color: white;
  width: 300px;
  height: 50px;
  text-align: center;
  align-items: start;
  border-radius: 10px;
  border: none;
}
@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}

.recentPostSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recentPostSection h2 {
  margin-bottom: 50px;
}

.cardWrapper {
  margin-bottom: 30px;
}

.date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.minutesWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 105px;
  /* border: 2px solid red; */
  margin-left: auto;
}

.minuteImgWrapper {
  position: relative;
  width: 17px;
  height: 17px;
  margin-left: 29px;
}

.circle {
  height: 16.67px;
  width: 16.67px;
  position: absolute;
  z-index: 1;
}

.clockHands {
  position: absolute;
  width: 3.92px;
  height: 7.26px;
  z-index: 2;
  top: 3.5px;
  right: 6px;
}

.minutesWrapper p {
  font-size: 12px;
  color: #2a90d9;
}

.recentPostText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 328px;
  text-align: start;
  margin: 0 auto;
}
.recentPostText h3 {
  margin: 0;
}

.footer {
  margin: 0 auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 360px;
  /* margin:16px auto ; */
  text-align: left;
  background-color: #f3f2f0;
  /* border: 2px  solid black; */
}

.footerText {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 16px auto;
  width: 121px;
  /* text-align: left; */
}
.footer ul {
  list-style-type: none;
  /* border: 2px solid red; */
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subscribeSection {
  width: 360px;
}
.emailInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 4px;
  width: 100%;
}

.emailInput input {
  height: 36px;
  border-radius: 10px 0 0 10px;
  border: 1px solid #ee685f;
  width: 100%;
}

.inputButton {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  /* border: 2px solid gold; */
}

.inputButton button {
  border: 1px solid #ee685f;
  border-radius: 0 10px 10px 0;
  background-color: #ee685f;
  height: 40px;
  width: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.lineAcross {
  margin: 50px auto 30px auto;
  height: 1px;
  max-width: 370px;
  border: 1px;
  background-color: #999999;
}
.footerLogos {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-top: 10px;
}

.lastContent a {
  color: #2a90d9;
  text-decoration: none;
}

.mainContainer {
  height: 100%;
  padding: 16px;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  /* border: 2px solid gold; */
  /* padding: 16px; */
  /* width: 328px; */
}

.hamburgerHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
  width:90%;
}

.menu-toggle {
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: none;
}

button {
  background-color: white;
  border: none;
  /* border: 2px solid red; */
}
.close-menu {
  display: none;
  font-size: 48px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  align-items: start;
  font-size: 16px;
  font-weight: 500;
  list-style-type: none;
  padding: 0;
}

.moneyOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 73px;
  color: #ee685f;
}

.moneyOptions :first-child {
  width: 12px;
  height: 22px;
  border-bottom: 1px dotted #ee685f;
}

.moneyOptions :nth-child(2) {
  height: 22px;
  width: 28px;
  border-bottom: 1px dotted #ee685f;
}

.footerLogo {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-content: flex-end;
  gap: 16px;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
  .nav-menu {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 80%;
    background-color: white;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    /* transform: translateY(-100%); */
    transition: transform 0.3s ease;
  }
  .nav-menu.active {
    transform: translateX(0);
    display: flex;
    z-index: 1000;
  }
  .nav-menu ul {
    flex-direction: column;
    width: 100%;
  }
  .nav-menu li {
    margin: 10px 0;
  }
  .close-menu {
    display: block;
    color: black;
  }
}
